.card {
  cursor: pointer;
  display: flex;
  justify-content: center;
  border: 1px solid var(--primary);
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 4vh;
  height: 45vh;
  width: 17.9vw;
  overflow: hidden;
}

.card-details {
  width: 100%;
  background: rgba(48, 62, 79, 0.9);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 0.3s ease-in;
}
.card-details h3 {
  text-align: center;
}
.card-details p {
  margin-top: 3vh;
  font-size: 3rem;
  font-weight: bolder;
  color: var(--primary);
}

.card:hover .card-details {
  transform: translateY(0);
}

@media only screen and (max-width: 770px) {
  .card {
    height: 35vh;
    width: 20vw;
  }
}

@media only screen and (max-width: 430px) {
  .card {
    height: 40vh;
    width: 50vw;
    margin: 5vh auto;
  }
  .card:focus .card-details {
    transform: translateY(0);
  }
}
