    .popular-card-div{
        margin:5vh;
        border-radius: 5px;
        background-color: var(--secondary);
        padding: 2vh;
    }
    .popular-card-title{
        display: flex;
        justify-content: center;
        padding: 1vh;
    }

    .popular-card-div h2{
        font-family:'inter';
        font-weight: lighter;
        color: var(--primary);
    }
    .popular-cards{
        display: flex;
        justify-content: center;
    }
    .movie-card{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        width: 30vw;
        align-items: center;
        height: 60vh;
        overflow: hidden;
        margin: 1vh;
    }

    .movie-card img{
        border:3px solid var(--primary);
        border-radius: 5px;
        width: 40vh;
    }
    .img-caption{
        border: 3px solid var(--primary);
        padding: 1vh;
        max-width: 40vh;
        width: 100%;
        max-height: 60vh;
        position: relative;
        background: var(--primary-dark);
        transition: transform 0.3s ease-in-out;
        word-wrap: break-word;
    }
    .img-caption.show{
        transform: translateY(-100%);
    }
    .movie-card h3{
        font-family: 'inter';
        text-align: center;
        margin: 1vh;
    }

    .movie-card p{
        font-family: 'inter';
        text-align:start;
        font-size: 0.8rem;
    }

