.popular-page-div{
    border: 1.5px solid var(--secondary-light);
    margin: 5vh;
    background-color: var(--secondary);
    padding: 2vh;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw,1fr));
    grid-gap: 4vh;
}

.btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-div p{
    cursor:default;
    font-size: 1.5rem;
    margin:  0vh 1.5vh;
    color: var(--primary);
}

@media only screen and (max-width:430px){
    .popular-page-div{
        display: block;
        
    }
}