.banner-div {
  height: 70vh;
  position: relative;
}

.banner-div img {
  width: 100%;
  height: 70vh;
  position: absolute;
  z-index: -1;
  opacity: 0.45;
}

.banner-details-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 33%;
}
.banner-details-info {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-details-info h3 {
  font-style: italic;
  margin: 1vh;
}
.banner-details-info p {
  font-weight: bold;
  margin: 1vh;
}
.banner-details-overview {
  display: flex;
  align-items: center;
  width: 33%;
}
.banner-details-overview p {
  padding: 1vh;
  font-weight: bold;
  font-size: 1.1rem;
  margin: 2vh;
}
.banner-details {
  display: inline-flex;
  justify-content: center;
  position: relative;
  opacity: 1;
  width: 100%;
  height: 70vh;
}
.banner-details img {
  border: 1px solid var(--secondary);
  height: 50vh;
  width: auto;
  opacity: 1;
}
.banner-details h2 {
  opacity: 1;
}
