.banner-div {
  height: 70vh;
  position: relative;
  display: block;
}

.banner-div img {
  width: 100%;
  height: 70vh;
  position: absolute;
  z-index: -1;
  opacity: 0.45;
}

.banner-details-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 33%;
}

.banner-details-info {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-details-info h3 {
  font-style: italic;
  margin: 1vh;
}
.banner-details-info p {
  font-weight: bold;
  margin: 1vh;
}
.banner-details-overview {
    height: auto;
  display: block;
  text-align: center;
  margin: auto 0vh;
  width: 33%;
}
.banner-details-overview h3 {
  text-decoration: underline;
}
.banner-details-overview p {
  border: 1px solid white;
  border-radius: 5px;
  padding: 1vh;
  font-weight: normal;
  font-size: 1rem;
  margin: 2vh;
}
.banner-details {
  display: inline-flex;
  justify-content: center;
  position: relative;
  opacity: 1;
  width: 100%;
  height: 70vh;
}
.banner-details img {
  border: 1px solid var(--secondary);
  height: auto;
  width: 20%;
  opacity: 1;
}
.banner-details h2 {
  opacity: 1;
}

@media only screen and (max-width: 430px) {
  .banner-details {
    display: block;
    height: fit-content;
  }
  .banner-div{
    border-radius: 5px;
  }
  .banner-details-img{
    margin: 0vh auto;
  }
  .banner-details-info, .banner-details-overview {
    margin: 1vh 0vh;
    background-color: var(--secondary);
    padding: 1vh;
    width: 100%;
    margin: 0vh auto;
    display: block;
  }
  .banner-details-info h2{
    font-size: 1.25rem;
  }
  .banner-details-info h3{
    font-size: 1.1rem;
  }
  .banner-details-info, .banner-details-overview  {
    text-align: center;
  }
  .banner-details img{
    height: 50vh;
    width: auto;
  }
}

@media only screen and (max-width: 770px){
    .banner-details-overview p, .banner-details-info p {
        font-size: 85%;
    }
}
