@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");

.genre-list-div {
  border: 1.5px solid var(--secondary-light);
  margin: 5vh;
  background-color: var(--secondary);
  border-radius: 5px;
  padding: 1vh;
  max-height: 60vh;
}

.genre-list-title {
  width: 91%;
  margin: 0px auto;
  padding: 1vh 1vh 1vh 1vh;
}
.genre-list-title h2 {
  padding: 1vh;
  color: var(--primary);
}
.genre-list {
  padding: 1vh;
  width: 91%;
  margin: 0px auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.genre-card {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1vh;
  width: 32.3%;
  height: 15vh;
  padding: 5%;
  margin: 0.5%;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}

.genre-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: black;
  border-radius: 5px;
}

.genre-card h3 {
  font-size: 1.1rem;
  z-index: 1;
  color: white;
}

.genre-card:hover h3 {
  color: var(--primary);
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 480px) {
  .genre-list-div {
    max-height: fit-content;
  }

  .genre-card:hover h3 {
    color: white;
    font-size: 1.1rem;
    transition: none;
  }

  .genre-card {
    width: 49%;
    height: 15vh;
  }
}

@media only screen and (max-width: 380px) {
  .genre-list-div {
    max-height: 45vh;
  }
  .genre-list {
    border: 1px solid var(--secondary-light);
    border-radius: 5px;
    height: 33.5vh;
    overflow: scroll;
  }
  .genre-card {
    margin: 0.5vh 0.5vh;
    width: 100%;
  }
}
