@import '../../App.css';

/*Overall NavBar*/
.navbar{
    background-color: var(--secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid var(--secondary-light);
}

.menu {
    display: flex;
    list-style-type: none;
}

nav .menu li h4 {
    cursor:pointer;
    display: inline-block;
    padding: 2.5vh;
    font-weight: lighter;
}

nav .menu li h4:hover{
    background-color: var(--secondary-light);
}

nav .openMenu{
    font-size: 2rem;
    margin: 2vh;
    display: none;
}

.navbar-logo h1{
    cursor: pointer;
    margin: 1.5vh;
    color: var(--primary);
}



@media (max-width: 430px){
    .navbar{
        display: block;
    }
    .navbar-logo{
        display: inline-block;
        width: 90%;
    }
    
    .menu{
        background-color: var(--secondary-light);
        flex-direction: column;
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease;
        align-items: center;
    }
    .menu.open{
        height: 25vh;
    }
    nav .openMenu{
        margin: 0px;
        display: inline-block;
        width: 10%;
    }
}